#body {
    position: absolute;
    left: 25em;
    top: 10em;
    z-index: 1;
}

#dorito {
    position: fixed;
    top: 5em;
    right: 0;
    width: 12em;
    height: 40.5em;
    z-index: 2;
}

body {
    background-color: #d9d9d9;
}